html{
	cursor: url(https://skam.city/assets/cursor/hand_open.png), auto;
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

body{
	background-color: black;
	background-image: url("https://skam.city/assets/image/rain_bright.gif");
}

Img.bottomCenter{
	position: fixed;
	bottom: 0%;
	left: 50%;
}

img.center{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 600px;
}

img.invisible{
	opacity: 0;
	cursor: url(https://skam.city/assets/cursor/hand_closed.png), auto;
}

img:hover{
	opacity: 1;
}